.side-bar-navs {
  position: fixed;
  z-index: 9999;
  min-width: 20%;

  ul {
    min-height: 100vh;
    text-align: center;
    background-color: #00bcd4;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    padding: 0;

    &.expand {
      min-width: 100%;
      transition: min-width 200ms;
    }

    &.collapse {
      min-width: 64px;
      transition: min-width 200ms;
    }

    >li {
      height: 48px;
      line-height: 48px;
      padding: 0;

      >a {
        color: #fff;
        display: block;
        text-decoration: none;
        display: flex;

        .ng-fa-icon {
          min-width: 64px;
          font-size: 1.25rem;
        }

        >span {
          opacity: 1;
          transition: opacity 500ms;
          max-height: 48px;
          text-align: left;

          &.hide {
            width: 0;
            height: 0;
            opacity: 0;
            transition: height 500ms;
          }
        }

        &:hover {
          color: #fff;
          background-color: rgb(230 230 230 / 55%);
        }

        &.active {
          color: #fff;
          background-color: rgba(121, 85, 72, 0.55);
        }
      }

      &:last-child {
        margin-top: auto;
      }
    }
  }
}

.container {
  margin-left: 64px;
  width: calc(100% - 67px);
  height: 100vh;
  padding: 15px;
}