<div class="d-flex full-height">
  <div class="side-bar-navs">
    <ul class="{{isExpand ? 'expand' : 'collapse'}}">
      <li title="Home">
        <a href="#" (click)="openNav()">
          <fa-icon [icon]="faBars"></fa-icon>
        </a>
      </li>
      <li *ngFor="let nav of NavBars" title="{{nav.label}}">
        <a href="#{{nav.href}}" [class.active]="selectedTab === nav.href" (click)="handleSelectNav(nav.href)">
          <fa-icon [icon]="nav.icon"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">{{nav.label}}</span>
        </a>
      </li>
      <li title="logout">
        <a href="#logout" (click)="handleLogout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">logout</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-content me-3" (click)="closeNav()" [ngSwitch]="selectedTab">
    <app-profile *ngSwitchDefault></app-profile>
    <app-profile *ngSwitchCase="NavBars[0].href"></app-profile>
    <app-general-profile *ngSwitchCase="NavBars[1].href"></app-general-profile>
    <app-leave-management *ngSwitchCase="NavBars[2].href"></app-leave-management>
    <app-contact *ngSwitchCase="NavBars[3].href"></app-contact>
    <app-job-history *ngSwitchCase="NavBars[4].href"></app-job-history>
    <app-upload-document *ngSwitchCase="NavBars[5].href"></app-upload-document>
    <app-change-picture *ngSwitchCase="NavBars[6].href"></app-change-picture>
  </div>
</div>