<div class="d-flex">
  <div class="side-bar-navs">
    <ul class="{{isExpand ? 'expand' : 'collapse'}}">
      <li title="Home">
        <a href="#" (click)="openNav()">
          <fa-icon [icon]="faBars"></fa-icon>
        </a>
      </li>
      <li title="Personal">
        <a href="#personal" [class.active]="selectedTab === 'personal'" (click)="handleSelectNav('personal')">
          <fa-icon [icon]="faUserTie"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">Personal</span>
        </a>
      </li>
      <li title="General Profile">
        <a href="#general-profile" [class.active]="selectedTab === 'general-profile'"
          (click)="handleSelectNav('general-profile')">
          <fa-icon [icon]="faUsers"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">General Profile</span>
        </a>
      </li>
      <li title="Leave Management">
        <a href="#leave-management" [class.active]="selectedTab === 'leave-management'" (click)="handleSelectNav('leave-management')">
          <fa-icon [icon]="faChalkboardTeacher"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">Leave Management</span>
        </a>
      </li>
      <li title="Contact Detail">
        <a href="#contact" [class.active]="selectedTab === 'contact'" (click)="handleSelectNav('contact')">
          <fa-icon [icon]="faAddressCard"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">Contact Detail</span>
        </a>
      </li>
      <li title="Job History">
        <a href="#job-history" [class.active]="selectedTab === 'job-history'" (click)="handleSelectNav('job-history')">
          <fa-icon [icon]="faHistory"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">Job History</span>
        </a>
      </li>
      <li title="Upload Document">
        <a href="#upload-document" [class.active]="selectedTab === 'upload-document'"
          (click)="handleSelectNav('upload-document')">
          <fa-icon [icon]="faFileUpload"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">Upload Document</span>
        </a>
      </li>
      <li title="Change Picture">
        <a href="#change-picture" [class.active]="selectedTab === 'change-picture'"
          (click)="handleSelectNav('change-picture')">
          <fa-icon [icon]="faImages"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">Change Picture</span>
        </a>
      </li>
      <li title="logout">
        <a href="#logout" (click)="handleLogout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
          <span class="{{isExpand ? '' : 'hide'}}">logout</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container" (click)="closeNav()" [ngSwitch]="selectedTab">
    <app-profile *ngSwitchDefault="'personal'"></app-profile>
    <app-general-profile *ngSwitchCase="'general-profile'"></app-general-profile>
    <app-leave-management *ngSwitchCase="'leave-management'"></app-leave-management>
    <app-contact *ngSwitchCase="'contact'"></app-contact>
    <app-job-history *ngSwitchCase="'job-history'"></app-job-history>
    <app-upload-document *ngSwitchCase="'upload-document'"></app-upload-document>
    <app-change-picture *ngSwitchCase="'change-picture'"></app-change-picture>
  </div>
</div>
