.row {
  display: flex;
  justify-content: space-between;
  margin: -8px;

  [class*="column"] {
    padding: 8px;
  }

  .column-1 {
    flex: 0 0 auto;
    width: 8.333333333333334%
  }

  .column-2 {
    flex: 0 0 auto;
    width: 16.666666666666668%
  }

  .column-3 {
    flex: 0 0 auto;
    width: 25%
  }

  .column-4 {
    flex: 0 0 auto;
    width: 33.333333333333336%
  }

  .column-5 {
    flex: 0 0 auto;
    width: 41.66666666666667%
  }

  .column-6 {
    flex: 0 0 auto;
    width: 50%
  }

  .column-7 {
    flex: 0 0 auto;
    width: 58.333333333333336%
  }

  .column-8 {
    flex: 0 0 auto;
    width: 66.66666666666667%
  }

  .column-9 {
    flex: 0 0 auto;
    width: 75%
  }

  .column-10 {
    flex: 0 0 auto;
    width: 83.33333333333334%
  }

  .column-11 {
    flex: 0 0 auto;
    width: 91.66666666666667%
  }

  .column-12 {
    flex: 0 0 auto;
    width: 100%
  }
}