.profile-component {
  .border-right {
    border-right: 1px solid #eaeaea;
  }

  .font-weight-bold {
    font-weight: 700 !important;
  }

  .text-black-50 {
    color: rgba(0, 0, 0, .5) !important;
  }

  .form-control,
  .btn {
    margin-bottom: 8px;
  }

  h3 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}